appdirs==1.4.4
asn1crypto==0.24.0
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.11.5
chardet==3.0.4
Choco==1.0.5
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
commonmarkextensions==0.0.5
configparser==5.0.0
confusable-homoglyphs==3.2.0
crayons==0.4.0
cryptography==2.2.2
cssutils==1.0.2
defusedxml==0.6.0
diff-match-patch==20121119
distlib==0.3.1
dj-database-url==0.5.0
Django==2.0.7
django-allauth==0.42.0
django-anymail==7.2.1
django-bootstrap4==2.2.0
django-cleanup==5.1.0
django-countries==6.1.3
django-crispy-forms==1.7.2
django-formtools==2.1
django-heroku==0.3.1
django-html-emailer==0.0.8.1
django-import-export==1.0.1
django-localflavor==3.0.1
django-picklefield==3.0.1
django-registration==3.1
django-thumbs-v2==0.4.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
djangorestframework-simplejwt==4.6.0
dnspython==1.16.0
et-xmlfile==1.0.1
eventlet==0.27.0
filelock==3.0.12
Flask==1.1.2
future==0.16.0
greenlet==0.4.16
gunicorn==20.0.4
httplib2==0.11.3
idna==2.10
importlib-metadata==1.7.0
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.11.2
lxml==4.5.2
Markdown==2.6.11
MarkupSafe==1.1.1
monotonic==1.5
mysql-connector-python==8.0.22
oauthlib==3.1.0
odfpy==1.3.6
olefile==0.45.1
openpyxl==2.5.4
Pillow==8.0.1
protobuf==3.13.0
psycopg2==2.8.6
py2exe==0.9.2.2
pycparser==2.18
PyJWT==1.7.1
PyMySQL==0.9.1
pynliner==0.8.0
python-decouple==3.3
python-http-client==2.2.1
python-stdnum==1.14
python3-openid==3.2.0
pytz==2018.5
PyYAML==3.12
requests==2.24.0
requests-oauthlib==1.3.0
selenium==3.141.0
sendgrid==3.6.5
six==1.11.0
soupsieve==2.0.1
sqlparse==0.3.1
tablib==0.12.1
tqdm==4.48.2
unicodecsv==0.14.1
UNKNOWN==0.0.0
urllib3==1.25.10
virtualenv==20.0.31
webdriver-manager==3.2.2
Werkzeug==1.0.1
whitenoise==5.2.0
xlrd==1.1.0
xlwt==1.3.0
zipp==3.1.0
